
h1{
  border: 2px solid black;
  outline: #0e1ce4 solid 10px;
  margin: auto;  
  padding: 20px;
  text-align: center;
}
h3 {
margin: auto;
text-align: center;
}
a{
  margin: auto;
  padding: 20px;
  text-align: center;
  border: #4CAF50;
  bottom: auto;
}